.player {
  min-height: 20vh;
  @include flex(column, space-between, center);
}

.time-control {
  width: 50%;
  display: flex;
  input {
    width: 100%;
    padding: 1rem 0rem;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  @include flex(row, space-between, center);
  padding: 1rem;
  width: 30%;
  svg {
    cursor: pointer;
  }
}
